[Unit]
Description=Periodic Cloudflare IP sync (autosafe)

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ cloudflare_ufw.sync_interval }}
Persistent=true
RandomizedDelaySec=5min
Unit=cf-ufw-sync.service

[Install]
WantedBy=timers.target
